/*
non-essential styles:
just for appearance; change whatever you want
*/
.carousel {
  margin: 1em;
  text-align: center;
}

.controls, .indicators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  margin-top: 1em;
}

.control {
  background-color: grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em 1em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 25px;
  height: 25px;
}

.indicator {
  background-color: grey;
  display: block;
  padding: 0.5em 1em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.indicator.active {
  background-color: red;
}

.control-pause > span {
  position: absolute;
  opacity: 0;
}